body {
    background-color: transparent;
}

.poem-text {
    display: inline-block;
    width: 100%;
    height: auto;
    color: #3d3d3d;
    font-size: 18px !important;
    font: 18px/120% Verdana;
    text-align: center;
    padding-top: 20px;
    margin-top: 170%;
    padding-bottom: 55%;
    box-shadow: 0px -40px 25px white;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
    background-color: white;
}

img {
    max-width: 95%;
    border: 2px solid #3d3d3d;
}

a {
    pointer-events: none;
    cursor: default;
}
