.poem-title {
    display: inline-block;
    position: fixed;
    top: 35%;
    left: 5px;
    right: 5px;
    color: #3d3d3d;
    font: 45px/100% Verdana;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100%;
}

.poem-text {
    display: inline-block;
    width: 100%;
    height: auto;
    color: #3d3d3d;
    font-size: 18px !important;
    font: 18px/120% Verdana;
    text-align: center;
    padding-top: 20px;
    margin-top: 170%;
    padding-bottom: 55%;
    background-color: white;
    box-shadow: 0px -40px 25px white;
    -webkit-transform: translate3d(0,0,1px);
    transform: translate3d(0,0,1px);
}

img {
    max-width: 100%;
    border: 2px solid #3d3d3d;
}

a {
    pointer-events: none;
    cursor: default;
}
